JOBBOARD_SECRET_KEY=12345678901234567890123456789012
JOBBOARD_ADMIN_PHONE=0800000000
JOBBOARD_ADMIN_PASSWORD=adminpassword123
JOBBOARD_DATABASE_PATH=instance/jobboard.db
JOBBOARD_SESSION_COOKIE_SECURE=0
